<div id="yui-main">
	<div class="yui-b">
		<div class="yui-g">
			
			<h1>Identifiez-vous</h1>

			<% form_tag session_path do -%>
			<p><%= label_tag 'Identifiant' %><br />
			<%= text_field_tag 'login', @login %></p>

			<p><%= label_tag 'Mot de passe' %><br/>
			<%= password_field_tag 'password', nil %></p>

			<!-- Uncomment this if you want this functionality
			<p><%= label_tag 'remember_me', 'Remember me' %>
			<%= check_box_tag 'remember_me', '1', @remember_me %></p>
			-->

			<p><%= submit_tag 'Connexion' %></p>
			<% end -%>
		</div>
	</div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g">
        <h3>Liens Externes</h3>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
    </div>
</div>