<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>Pourquoi  récupérer  l'eau  de pluie  ???</h1>
            <h2>La Guadeloupe : l’eau de pluie en quantité et en qualité</h2>
            
            <p>
                La pluviométrie est importante dans notre région, mais une fois tombée sur les toitures, 
                toute cette eau est en général rejetée de façon anarchique dans les rigoles ou les égouts. C'est un 
                gâchis énorme sachant qu'il y a plusieurs façons de récupérer et d'utiliser cette eau de pluie.
            </p>
            <p>
                <%= image_tag("pluviometrie.gif", :size => '650x300') %>
            </p>
            <p>
                L’archipel est très arrosé avec cependant une grande différence entre la Grande Terre 
                et la Basse Terre. 
                L’eau de pluie est propre, incolore, claire et sans trace de graisse. Elle est douce et 
                sans calcaire. Le pH de l’eau de pluie est proche du neutre. L’eau pluviale est conforme aux 
                directives européennes sur la qualité de l’eau, pour une utilisation courante. 
                <b>La qualité de cette eau est supérieure à celle relevée dans les eaux de baignade.</b> 
                                  Par conséquent, l’eau de pluie peut sans problème servir à l’alimentation des sanitaires et 
                permettre de laver le linge avec moins de lessive et sans produit anticalcaire. 
                Enfin, cette eau peut également être utilisée pour arroser le jardin ou le potager et laver la voiture.
            </p>
        </div>
        
        <div class="yui-g">
            <h2>Plus de 50% de votre consommation d'eau ne nécessite pas d’eau potable</h2>
            
            <p align="center">
                <%= image_tag("citerne-coupe.jpg") %> 
            </p>
            
            <p>
                L'utilisation la plus commune est de récupérer l’eau de pluie pour arroser son jardin ou 
                laver sa voiture. On peut également utiliser l’eau de pluie pour remplir et faire l’appoint d’eau de sa 
                piscine. Avec l’abondance et la prolifération des piscines privées, nous appauvrissons les ressources 
                d’eau potable. L’eau de pluie est une bonne alternative, elle peut être filtrée et traitée. 
                Les chasses d'eau représentent 30% de la consommation des ménages et constituent de loin le 
                facteur de consommation le plus important. Une chasse d’eau consomme environ 9 litres. Pour 
                diminuer ce poste, Il faudrait stopper systématiquement la chasse après chaque "petite commission" 
                pour obtenir une économie pertinente, de l'ordre de 30% de la part "toilettes" à la consommation 
                d'eau des ménages, soit l'équivalent de 14 litres par jour et par personne. 
                Les machines à laver représentent une part de 15% à la consommation d'eau des ménages. Le 
                potentiel d'économie dépend de l'âge des machines. Les anciennes machines consomment encore 
                250 litres par lessive alors que la consommation des machines plus récentes tourne autour de 100 
                litres, voire moins encore. 
                En distribuant l’eau de pluie dans la maison au niveau des toilettes et du lave-linge, elle 
                est fortement valorisée. Il suffit d’avoir une maison individuelle et un peu de terrain pour y adjoindre 
                une cuve de récupération, une pompe et un disconnecteur. L’installation doit permettre une utilisation 
                en dehors du réseau public.
            </p>
        </div>
        
        <div class="yui-g">
            <h2>Un château d’eau chez vous</h2>
            
            <p align="center">
                <%= image_tag("citerne-maison.jpg") %>
            </p>
            
            <p>
                La citerne constitue une réserve bien utile en cas de 
                 coupures lors des catastrophes 
                climatiques, lors des grèves, lors des incidents intervenant sur le réseau vieillissant san 
                parler des quartiers où la pression de l'eau du robinet est très faible de façon chronique. 
                C’est aussi une solution alternative aux restrictions de consommation d’eau lors des périodes de 
                sécheresse. 
                Enfin, l’eau de pluie récupérée et utilisée dans la maison peut être une alternative pour toutes les 
                personnes qui construisent leur maison à qui les réglementations interdisent de rejeter les eaux des 
                toitures à l’égout.
            </p>
            
            <p align="center">
                <%= image_tag("surpresseur.jpg", :size =>"350x350" ) %> <br/>
                Supresseur EN 1717
            </p>
            
            <p align="center">
                <%= image_tag("surpresseur2.jpg") %>
            </p>
        </div>
        
        <div class="yui-g">
            <h2>Diminution de votre facture d’eau</h2>
            
            <p>
                De nos jours, l’eau devient une denrée rare. Son prix ne cesse d’augmenter. Il a doublé 
                depuis les 10 dernières années et on annonce pour les années futures une augmentation du prix de 
                l’eau de l’ordre de 5 à 10 % par an. Il faut être lucide et savoir que ce n’est pas l’eau en elle-même 
                qui détermine son prix mais son traitement et acheminement au robinet. 
                Le réseau d’eau potable en France est dans un état vétuste et ne répond pas toujours aux exigences 
                des normes européennes. Ce qui implique un programme de remise aux normes étalées sur 
                plusieurs années avec un coût qui sera supporté par le consommateur. Le traitement de l’eau coûte 
                de plus en plus cher. La qualité de l’eau brute étant de plus en plus médiocre nécessite une mise en 
                œuvre de plus en plus onéreuse pour obtenir toujours la même qualité au robinet avec un coût qui 
                sera toujours supporté par l es consommateurs. 
                L’eau de pluie, de meilleure qualité, tombe de manière gratuite sur notre propriété et avec un 
                traitement peu onéreux, elle peut être utilisée de manière plus respectueuse que nous le faisons 
                aujourd’hui. 
                Utiliser l’eau de pluie permet de réduire la consommation d’eau potable et permet de 
                réaliser des économies substantielles. En moyenne et pour un ménage de 4 personnes, la facture 
                d’eau s’élève à 450 € par an dont 150 € sont imputés au fonctionnement des toilettes, voire plus en 
                cas d’arrosage
                Le gain financier est variable suivant la consommation que l’on fait en eau de pluie et le coût de l’eau 
                au mètre cube. Cependant, on peut compter une réduction du coût de la consommation sur une 
                année de 40 à 50 %. 
                Utiliser l’eau de pluie permet également de réduire l’utilisation des produits d’entretien : cette eau est 
                douce et non calcaire, ce qui permet de réduire de 40 à 60 % l’usage de savon ou d’anticalcaire. 
                S’ajoutent les économies réalisées sur les frais de détartrage, et d’entretien nécessaires. 
                Enfin, on peut noter la plus-value apportée à l’habitat dans le contexte actuel où l’on encourage la 
                diminution de la consommation énergétique et la consommation d’eau.
            </p>
            
            <p align="center">
                <%= image_tag("pelle1.jpg") %> 
            </p>
        </div>
        
        <div class="yui-g">
            <h2>Incitations financières de l’Etat et de la Région</h2>
            <p>
                L’installation de récupérateur d’eau de pluie est soutenue par l’Etat et la Région 
                Guadeloupe. 
                             La Région dans le cadre de sa politique de développement durable accorde une 
                aide de 50% sur le montant de la citerne, pouvant aller  jusqu'à  3 300,00€. Pour en bénéficier il faut 
                monter un dossier avec  le  concours de votre installateur  CITERN+ gpe  sarl, à remettre au 
                CNASEA, une commission instruit le dossier. La cuve est installée dès réception du «  bon à 
                poser ». Le client  n'a  pas à avancer le montant de la subvention, la Région paye directement 
                l’installateur agréé. 
                 L'Assemblée nationale et le Sénat ont accordé un crédit d'impôt de 25% sur le matériel 
                d'un récupérateur d'eau de pluie. 
                Le crédit d'impôt est mis en place depuis le 1er janvier 2007 et cela jusqu'au 31 décembre 
                2009. 
                Pour en bénéficier il suffit de reporter le montant de sa facture dans la case prévue à cet effet dans 
                sa déclaration d’impôts.
            </p>
        </div>
        
        <div class="yui-g">
            <h2>Geste éco-responsable</h2>
            
            <p align="center">
                <%= image_tag("pelle2.jpg") %> 
            </p>
            <p>
                L’utilisation de l’eau de pluie a de nombreux avantages écologiques :
            </p>
            <ul>
                <li>Diminution des prélèvements des eaux souterraines et de surface dans la mesure où la 
                revalorisation de l’eau de pluie est largement pratiquée,</li>
                <li>Allégement du réseau de distribution</li>
                <li>Réduction des rejets d’eau pluviale dans le réseau urbain : une citerne fait  zone tampon en 
                cas de fortes pluies avec les stations d’épuration qui ont énormément de mal à gérer cet afflux 
                important d’eau. Cet afflux peut provoquer une eau de distribution impropre à la 
                consommation sachant qu'en ruisselant sur les voies publiques l'eau de pluie se charge de 
                polluants lourds qui sont encore plus difficiles à traiter.</li>
                <li>Baisse d’utilisation de savon et de produits d’entretien pour le lavage des surfaces ou des 
                véhicules. Il en est de même pour l’anti-tartre utilisé pour les WC.</li>
            </ul>
            <p>
                Loi sur l'eau : <a href="http://www.airtereo.fr/textes_lois/loi_eau_milieux_aquatiques_301206.pdf">
                    http://www.airtereo.fr/textes_lois/loi_eau_milieux_aquatiques_301206.pdf
                </a>
            </p>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g">
        <h3>Crédit d'impôt : plus d'infos</h3>
        <p>
            <a href="http://www.cnidep.com/D424.pdf  ">CNIDEP</a> 
        </p>
        
        <h3>Citernes entérrées</h3>
        <p>
            <%= link_to(image_tag("citerne-enterree-small.jpg"), "/images/citerne-enterree.jpg", :popup => true) %>
        </p>
        
        <h3>Citernes Hors Sol</h3>
        <p>
            <%= link_to(image_tag("citerne-Horsol-small.jpg"), "/images/citerne-Horsol.jpg", :popup => true) %>
        </p>
        
        <h3>Citernes</h3>
        <p>
            <%= link_to(image_tag("cuvesmp-small.jpg"), "/images/cuvesmp.jpg", :popup => true) %>
        </p>
        
        <h3>Gestionnaire d'eau de pluie</h3>
        <p>
            <%= link_to(image_tag("Recupeo-small.jpg"), "/images/Recupeo.jpg", :popup => true) %>
        </p>
    </div>
</div>