<div id="yui-main">
	<div class="yui-b">
		<div class="yui-g">
			<h1>Nouvelle annonce</h1>

			<% form_for(@annonce) do |f| %>
			  <%= f.error_messages %>

			  <p>
			    <%= f.label :message %><br />
			    <%= f.text_area :message %>
			  </p>
			  <p>
			    <%= f.label :starts_at, "Du :" %><br />
			    <%= f.datetime_select :starts_at %>
			  </p>
			  <p>
			    <%= f.label :ends_at, "Au :" %><br />
			    <%= f.datetime_select :ends_at %>
			  </p>
			  <p>
			    <%= f.submit 'Enregistrer' %>
			  </p>
			<% end %>

			<%= link_to 'Retour', annonces_path %>
		</div>
	</div>
</div>

<div class="yui-b sidebar">
    <div class="yui-g">
        <h3>Liens Externes</h3>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
        <p>
            Votre publicité ici.
        </p>
    </div>
</div>