<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Controleur: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'reset-fonts-grids', 'base' %>
  <%= javascript_include_tag :defaults, :cache => true %>
</head>
<body>
    <div id="doc4" class="yui-t5">
        <div id="preload-image">                    
        </div>
        <div id="preload-image2">            
        </div>
        <div id="hd">
            <div id="hd_img">
                <%= image_tag("titre.png") %>
                <p class="sous-titre">"L'eau est rare"</p>
                <p class="slogan"><%= image_tag("accroche.gif") %></p>
                <%# image_tag("bg-bannieredroite.jpg") %>
            </div>
            <div id="animation">
                <script type="text/javascript" src="bzLoader.js"></script>
                <noscript>
                <p style="background-color:#ffffff;color:#000000;padding:1em;">Votre navigateur ne supporte pas JavaScript ou vous avez
                désactivé JavaScript.</p>
                </noscript>
                <div id="SWBZA33F97A850864977AAE5"></div>
                <div id="LKBZA33F97A850864977AAE5"></div>
            </div>
            <div id="menu">
                <ul>
                    <li><%= link_to "Accueil", "/" %></li>
                    <li class="archi"><%= link_to "Dossier Architecture", dossier_archi_path %></li>
                    <li><%= link_to "Tarifs", tarif_path %></li>
                    <li><%= link_to "Contacts", contact_path %></li>
                    <li></li>
                </ul>
            </div>
        </div>
        
        <div id="bd">
						<div id="annonces">
							<% for annonce in annonces_courantes %>
								<p><%= h annonce.message %></p>
							<% end %>
							<p><%= link_to_remote "Masquer", :url => masquerannonce_url() %></p>
						</div>
						
            <%= yield %>
        </div>
        
        <div id="ft">
            <p>
                <%= link_to "Accueil", "/" %> | <%= link_to "Dossier Architecture", dossier_archi_path %>
                | <%= link_to "Tarifs", tarif_path %> | <%= link_to "Contacts", contact_path %>
            </p>
            <p>Citern+ SARL- <%= Date.today.year %> - Tous droits réservés<br/>
            Tel/Fax : 0590 23 42 10<br/>
            <%= mail_to "lek.sarl@wanadoo.fr", "Email", :encode => "hex" %></p>

            Conception : <%= link_to "GMWebAgency", "http://www.gmwebagency.com" %>
        </div>
    </div>

</body>
</html>
